{% extends 'base/base_publico.html' %}

{% block contenido_pagina %}
    {% load static %}
    <div class="_1 feature">
        <div class="feature-image-container slideshow w-slider"
             data-animation="fade" data-autoplay="1" data-autoplay-limit="2000"
             data-delay="10000" data-duration="800" data-hide-arrows="1"
             data-infinite="1" data-ix="feature-image-fade-in">
            <div class="feature-award" data-ix="award-load"><a
                    class="w-inline-block" href="#"></a>
            </div>
            <div class="slideshow-mask w-slider-mask">
                <div class="_2 feature-slideshow-item w-slide"></div>
                <div class="_1 feature-slideshow-item w-slide"></div>
            </div>
        </div>
        <div class="container feature-title">
            <div class="feature-content-wrapper"
                 data-ix="feature-content-fade-in"><h1
                    class="feature-headline">Semillero Innova</h1>
                <div class="p-large text-muted w-hidden-tiny">Grupo de investigación Byte in Design
                    <br>Escuela de Ciencias Básicas tecnología e ingeniería
                    <br>Si lo puedes soñar, lo puedes lograr. W.D.
                </div>
                <a class="feature-phone-number-wrapper w-clearfix w-inline-block"
                   href="tel:012345678">
                    <div class="feature-phone-number-icon"></div>
                    <div class="feature-phone-number">( +57 5 ) 6628812</div>
                </a></div>
            <a class="feature-anchor w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block"
               data-ix="ancho-load" href="#content-start">
                <div></div>
            </a></div>
    </div>
    <div class="b-b informations section">
        <div class="container">
            <div class="iconbox-row w-row">
                <div class="w-col w-col-4 w-col-stack">
                    <div class="iconbox-container">
                        <div class="iconbox-headline">
                            <div class="iconbox-icon">
                                <div class="iconbox-icon-text">Q</div>
                            </div>
                            <h3 class="iconbox-text-headline">Contáctanos</h3>
                        </div>
                        <div class="iconbox-text"><p
                                class="iconbox-text-paragraph">
                                Transversal 45 # 44A - 221
                                <br>Avenida al Acueducto -
                                Barrio Paraguay<br>Cartagena - Colombia</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="iconbox-container">
                        <div class="iconbox-headline">
                            <div class="iconbox-icon">
                                <div class="iconbox-icon-text">f</div>
                            </div>
                            <h3 class="iconbox-text-headline">Comunidad
                                </h3></div>
                        <div class="iconbox-text"><p
                                class="iconbox-text-paragraph">Docente Arellys Correa Rodríguez</p></div>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="iconbox-container last">
                        <div class="iconbox-headline">
                            <div class="iconbox-icon">
                                <div class="iconbox-icon-text">x</div>
                            </div>
                            <h3 class="iconbox-text-headline">Horas de
                                reunión</h3></div>
                        <div class="iconbox-text">
                            <div class="first opening-hours-line w-clearfix">
                                <div class="opening-hours-left">Lunes -
                                    viernes
                                </div>
                                <div class="opening-hours-right">17:00 - 18:00
                                </div>
                            </div>
                            <div class="opening-hours-line w-clearfix">
                                <div class="opening-hours-left">Sabado</div>
                                <div class="opening-hours-right">10:00 - 12:00
                                </div>
                            </div>
                            <div class="opening-hours-line w-clearfix">
                                <div class="opening-hours-left">Domingo</div>
                                <div class="closed opening-hours-right">
                                    Descanso
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" data-ix="fade-in-bottom-scroll" id="content-start">
        <div class="container">
            <div class="content-row w-row">
                <div class="w-col w-col-7 w-col-stack"><h2
                        class="headline-section">MISIÓN</h2>
                    <div class="w-richtext"><h4>El Semillero de Investigación Innova tiene como misión generar una cultura investigativa en los estudiantes a través del aprendizaje, autónomo,
                        cooperativo, y significativo, donde se surcan ideas que serán cristalizadas a través de proyectos de innovación tecnológica para dar solución a diferentes
                        problemáticas de la sociedad.
                        </h4>
                        </div>
                </div>
                <div class="w-col w-col-1 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="color teaser-wrapper">
                        <div class="_1 teaser-image-wrapper"></div>
                        <div class="color teaser-content-wrapper">
                            <div class="teaser-phone-number"><h4
                                    class="color teaser-headline">Bienvenidos</h4>
                            </div>
                            <div class="teaser-subline">Presentamos la pagina oficial del Semilleno de investigacion de la Unad
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey no-padding section section-line"
         data-ix="fade-in-bottom-scroll">
        <div class="section-image-text-wrapper">
            <div class="container w-container">
                <div class="w-row">
                    <div class="w-col w-col-6 w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                    <div class="w-col w-col-6">
                        <div class="section-image-text-text"><h2
                                class="headline-section">VISIÓN</h2>
                            <div class="w-richtext"><h4>El semillero Innova se proyecta en cinco años como un grupo consolidado en la formación investigativa afianzando en la construcción de una cultura
                                reflexiva, critica y participativa mediante el desarrollo de soluciones tecnológicas e innovadoras para el beneficio de distintas comunidades y según las
                                necesidades de la región.
                                </h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_1 section-image-text-image"></div>
        </div>
    </div>
    <div class="no-padding section section-line"
         data-ix="fade-in-bottom-scroll">
        <div class="section-image-text-wrapper">
            <div class="container w-container">
                <div class="w-row">
                    <div class="w-col w-col-6 w-col-stack">
                        <div class="section-image-text-text"><h2
                                class="headline-section">OBJETIVOS</h2>
                            <div class="w-richtext"><p>Desarrollar proyectos del área de ingeniería de sistemas dentro de las líneas de investigación ingeniería de software y gestión de sistemas para el fomento
                                de la cultura investigativa a través de la investigación formativa en los estudiantes de la escuela de ciencias básicas tecnología e ingeniería de la UNAD.</p></div>
                        </div>
                    </div>
                    <div class="w-col w-col-6 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                </div>
            </div>
            <div class="_2 right section-image-text-image">
                <div class="section-image-quote">
                    <div>Evento.
                    </div>
                </div>
            </div>
        </div>
    </div>

<P></P>
        </a></div>
    </div>
    <div class="bg-color section" id="appointnent">
        <div class="container">
            <div class="w-row" data-ix="fade-in-scroll">
                <div class="w-col w-col-3 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                <div class="w-col w-col-6 w-col-stack">
                    <div class="section-color-text-spacer"><h2
                            class="text-center text-white">Contáctenos</h2>
                        <p class="p-large text-center text-muted text-white">
                            Nos necesitas para algun tipo de ayuda o trabajo no dudes en contar con nosotros</p>
                        <div class="button-more-wrapper"><a
                                class="button w-button" href="contacto/">Contacto</a>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
            </div>
        </div>
    </div>
{% endblock %}